.App {
  text-align: center;
  display: grid;
  grid-template-columns: fit-content fit-content;
  grid-template-rows: 100vh;
  grid-template-areas: "startup main";
  background-color: #FAF9F0;
  height: 100vh;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
}

.loading {
  width: 100vw;
  height: 100vh;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startup {
  grid-area: startup;
}

.tracks {
  grid-area: main;
}