.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu-bar-item {
  background-color: rgba(105, 105, 105, 0.188);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar-item:hover {
  background-color: rgba(136, 136, 136, 0.385);
  box-shadow: 3px 3px 0 rgba(74, 74, 74, 0.5);
}

.reset:hover > .rotate-wrapper{
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.enabled {
  background-color: rgba(89, 134, 225, 0.385);
}

.enabled:hover {
  background-color: rgba(59, 93, 159, 0.385);
}